.top {
  margin-top: 10px;
  height: 40px;
  width: 1100px;
  margin: auto;
}
.form {
  margin-top: 5px;
  margin-left: 1150px;
}
#search {
  color: rgb(19, 192, 19);
  background-color: rgb(247, 246, 245);
  border: 2px solid #4caf50;
  border-radius: 6px;
}
#search:hover {
  color: rgb(19, 192, 19);
  background-color: rgb(192, 182, 172);
  border: 2px solid #4caf50;
  border-radius: 6px;
}
.mid {
  margin: 0px 20px;
  width: 1470px;
  height: 600px;
  display: flex;
  justify-content: space-between;
}
.mid .left {
  width: 400px;
  border: 1px groove rgb(228, 229, 231);
}
.mid .left .side-title {
  width: 399px;
  height: 50px;
  background-color: rgb(42, 78, 175);
  color: aliceblue;
  position: relative;
}
.mid .left .side-title .stt {
  margin-left: 20px;
  margin-top: 10px;
  position: absolute;
}
.mid .right .main-title {
  width: 1049px;
  height: 50px;
  background-color: rgb(42, 78, 175);
  color: aliceblue;
  position: relative;
}
.mid .right .main-title .mtt {
  margin-left: 20px;
  margin-top: 10px;
  position: absolute;
}

.mid .right {
  width: 1050px;
  border: 1px groove rgb(228, 229, 231);
}
.main-content {
  margin: 15px;
}
/* .pagination > li > a {
  background-color: white;
  color: green;
} */

/* .pagination li.active {
  background-color: green;
  border-color: green;
} */
.test:hover {
  background-color: saddlebrown;
}
